<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome, {{ username }}!</h1>
    <!-- Notices button -->
    <form action="{% url 'student_notices' %}" method="get">
        <button type="submit">Show Notices</button>
    </form>
    <!-- Course Materials button -->
    <form action="{% url 'student_course_materials' %}" method="get">
        <button type="submit">Course Materials</button>
    </form>
    <!-- Show Marks button -->
    <form action="{% url 'student_marks' %}" method="get">
        <button type="submit">Show Marks</button>
    </form>
</body>
</html>
